@model IEnumerable<Category>
<div class="col-lg-3">
    <div class="hero__categories">
        <div class="hero__categories__all">
            <i class="fa fa-bars"></i>
            <span>All departments</span>
        </div>
        <ul>
            @foreach (var item in Model)
            {
                @* var getUrl = "https://localhost:7091/api/productapi/" + item.IdType;
                <li><a style="cursor:pointer" onclick="showProductByCategory('@getUrl')">@item.NameType</a></li> *@

                @* <li><a asp-controller="Home" asp-action="SanPhamTheoLoai" asp-route-maloai="@item.MaLoai">@item.Loai</a></li> *@
            }
        </ul>
    </div>
</div>
<script>
    function showProductByCategory(getUrl)
    {
        var str = '';
        $.ajax({
            type:'GET',
            url: getUrl,
            dataType : 'json',
            success: function (data) {
                $.each(data, function (key, val) {
                    //str += '<p>' + val.tenSp + '</p>'
                    str += '<div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">';
                    str += '<div class="featured__item">';
                    var linkimg = '../ProductImages/Images/' + $.trim(val.anhDaiDien);
                    str += '<div class="featured__item__pic set-bg" data-setbg="' + linkimg + '" style="background-image: url(&quot;'+linkimg+'&quot;)">';
                    str += '<ul class="featured__item__pic__hover">';
                    str += '<li><a href="#"><i class="fa fa-heart"></i></a></li>';
                    str += '<li><a href="#"><i class="fa fa-retweet"></i></a></li>';
                    str += '<li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>';
                    str += '</ul>';
                    str += '</div>';
                    str += '<div class="featured__item__text">';
                    str += '<h6><a href =\"/Home/ProductDetail?maSP=' + val.maSp+ '">';
                    str += val.tenSp + '</a></h6>';
                    str += '<h5>' + val.giaNhoNhat + '</h5>';
                    str += '</div> </div> </div >';

                });
                $('#displayProduct').html(str);
            },
            Error: function (xhr) {
                alert(xhr.responseText)
            }
        });
    }
</script>